<a href="https://colab.research.google.com/github/msap-uai/CaC_Big_Data_Python/blob/main/Python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduccion a Python.
https://www.w3schools.com/python/default.asp

In [1]:
print("Hello, World!")

Hello, World!

##CMD
python --version # ver version de python

python helloworld.py #ejecutar codigo

#COMMENTS

In [3]:
#This is a comment
print("Hello, World!") #This is a comment

"""
This is a comment
written in
more than just one line
"""

Hello, World!

'\nThis is a comment\nwritten in\nmore than just one line\n'

#PRINT

In [6]:
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = "John"
print(x + y) #ERROR
print(x , y)

Python is awesome
Python is awesome
Python is awesome

#VARIABLES

In [ ]:
#ASIGNACION 
x = 5 #int
y = "John" #string

x, y, z = "Orange", "Banana", "Cherry"
x = y = z = "Orange"

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

In [5]:
y = "John"
print(type(x)) # get type

<class 'int'>

**Variable types**

###STRING

In [ ]:

#Text Type:	str
x = "Hello World"	#str	
x = ("Hello World")
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit""" #multiline
print(a[1]) #puede ser leido como un array
print(a[2:5])
print(a.upper()) #MAYUSCULA
print(a.lower())
print(a.strip()) #remueve estacios en blanco al inicio y final
print(a.replace("H", "J"))
print(a.split(",")) 
print(len(a)) #cantidad de caracteres
print("Hello" in x) #true

* capitalize()	Converts the first character to upper case
* casefold()	Converts string into lower case
* center()	Returns a centered string
* count()	Returns the number of times a specified value occurs in a string
* encode()	Returns an encoded version of the string
* endswith()	Returns true if the string ends with the specified value
* expandtabs()	Sets the tab size of the string
* find()	Searches the string for a specified value and returns the position of where it was found
* format()	Formats specified values in a string
* format_map()	Formats specified values in a string
* index()	Searches the string for a specified value and returns the position of where it was found
* isalnum()	Returns True if all characters in the string are alphanumeric
* isalpha()	Returns True if all characters in the string are in the alphabet
* isascii()	Returns True if all characters in the string are ascii characters
* isdecimal()	Returns True if all characters in the string are decimals
* isdigit()	Returns True if all characters in the string are digits
* isidentifier()	Returns True if the string is an identifier
* islower()	Returns True if all characters in the string are lower case
* isnumeric()	Returns True if all characters in the string are numeric
* isprintable()	Returns True if all characters in the string are printable
* isspace()	Returns True if all characters in the string are whitespaces
* istitle()	Returns True if the string follows the rules of a title
* isupper()	Returns True if all characters in the string are upper case
* join()	Converts the elements of an iterable into a string
* ljust()	Returns a left justified version of the string
* lower()	Converts a string into lower case
* lstrip()	Returns a left trim version of the string
* maketrans()	Returns a translation table to be used in translations
* partition()	Returns a tuple where the string is parted into three parts
* replace()	Returns a string where a specified value is replaced with a specified value
* rfind()	Searches the string for a specified value and returns the last position of where it was found
* rindex()	Searches the string for a specified value and returns the last position of where it was found
* rjust()	Returns a right justified version of the string
* rpartition()	Returns a tuple where the string is parted into three parts
* rsplit()	Splits the string at the specified separator, and returns a list
* rstrip()	Returns a right trim version of the string
* split()	Splits the string at the specified separator, and returns a list
* splitlines()	Splits the string at line breaks and returns a list
* startswith()	Returns true if the string starts with the specified value
* strip()	Returns a trimmed version of the string
* swapcase()	Swaps cases, lower case becomes upper case and vice versa
* title()	Converts the first character of each word to upper case
* translate()	Returns a translated string
* upper()	Converts a string into upper case
* zfill()	Fills the string with a specified number of 0 values at the beginning

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

txt = "My name is John, and I am {}"
print(txt.format(age)) #incluye en el texto

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

**Escape Characters**

\'	Single Quote	
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

In [16]:
txt = "We are the so-called \"Vikings\" from the north."
print (txt)

We are the so-called "Vikings" from the north.

##INT

In [ ]:
#Numeric Types:	int, float, complex
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex

####Sequence Types:	list, tuple, range

In [ ]:
#Sequence Types:	list, tuple, range
x = ["apple", "banana", "cherry"]	# list	
x = range(6)	# range

* append()	Adds an element at the end of the list
* clear()	Removes all the elements from the list
* copy()	Returns a copy of the list
* count()	Returns the number of elements with the specified value
* extend()	Add the elements of a list (or any iterable), to the end of the current list
* index()	Returns the index of the first element with the specified value
* insert()	Adds an element at the specified position
* pop()	Removes the element at the specified position
* remove()	Removes the first item with the specified value
* reverse()	Reverses the order of the list
* sort()	Sorts the list

In [ ]:
x = ("apple", "banana", "cherry")	# tuple

* count()	Returns the number of times a specified value occurs in a tuple
* index()	Searches the tuple for a specified value and returns the position of where it was found

##DICCIONARIOS

In [ ]:
#Mapping Type:	dict
x = {"name" : "John", "age" : 36}	#dict

* clear()	Removes all the elements from the dictionary
* copy()	Returns a copy of the dictionary
* fromkeys()	Returns a dictionary with the specified keys and value
* get()	Returns the value of the specified key
* items()	Returns a list containing a tuple for each key value pair
* keys()	Returns a list containing the dictionary's keys
* pop()	Removes the element with the specified key
* popitem()	Removes the last inserted key-value pair
* setdefault()	Returns the value of the specified key. If the key does not  exist: insert the key, with the specified value
* update()	Updates the dictionary with the specified key-value pairs
* values()	Returns a list of all the values in the dictionary

## SET

In [ ]:


#Set Types:	set, frozenset
x = {"apple", "banana", "cherry"}	# set	
x = frozenset({"apple", "banana", "cherry"})	# frozenset

* add()	Adds an element to the set
* clear()	Removes all the elements from the set
* copy()	Returns a copy of the set
* difference()	Returns a set containing the difference between two or more sets
* difference_update()	Removes the items in this set that are also included in another, specified set
* discard()	Remove the specified item
* intersection()	Returns a set, that is the intersection of two or more sets
* intersection_update()	Removes the items in this set that are not present in other, specified set(s)
* isdisjoint()	Returns whether two sets have a intersection or not
* issubset()	Returns whether another set contains this set or not
* issuperset()	Returns whether this set contains another set or not
* pop()	Removes an element from the set
* remove()	Removes the specified element
* symmetric_difference()	Returns a set with the symmetric differences of two sets
* symmetric_difference_update()	inserts the symmetric differences from this set and another
* union()	Return a set containing the union of sets
* update()	Update the set with another set, or any other iterable

#BOOL

In [ ]:
#Boolean Type:	bool
x = True	# bool

Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

## OTROS

In [ ]:


#Binary Types:	bytes, bytearray, memoryview
x = b"Hello"	# bytes	
x = bytearray(5)	# bytearray	
x = memoryview(bytes(5))	# memoryview	

#None Type:	NoneType
x = None	# NoneType

In [13]:
#CASTING 

x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6)	#range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	#bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5)) #memoryview

In [ ]:
import random

print(random.randrange(1, 10))

#FUNCIONES

In [11]:
x = "awesome" #variable global

def myfunc():
  y = "Python is " #variable local
  global z #variable global que puede llamarse fuera de la funcion
  z = "variable global"
  print( y + x)

myfunc()
print(y) 
print(z)

Python is awesome
is
variable global

#LOOP

In [14]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#CONDITIONALS

In [15]:
txt = "The best things in life are free!"
if "free" in txt: #esta en el texto
  print("Yes, 'free' is present.")

print("esta!" in txt) #bool

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

print("expensive" not in txt) #bool

Yes, 'free' is present.
False
No, 'expensive' is NOT present.
True

# FILES

###METODOS

* close()	Closes the file
* detach()	Returns the separated raw stream from the buffer
* fileno()	Returns a number that represents the stream, from the operating * system's perspective
* flush()	Flushes the internal buffer
* isatty()	Returns whether the file stream is interactive or not
* read()	Returns the file content
* readable()	Returns whether the file stream can be read or not
* readline()	Returns one line from the file
* readlines()	Returns a list of lines from the file
* seek()	Change the file position
* seekable()	Returns whether the file allows us to change the file position
* tell()	Returns the current file position
* truncate()	Resizes the file to a specified size
* writable()	Returns whether the file can be written to or not
* write()	Writes the specified string to the file
* writelines()	Writes a list of strings to the file

#Built-in Exceptions

ArithmeticError	Raised when an error occurs in numeric calculations
AssertionError	Raised when an assert statement fails
AttributeError	Raised when attribute reference or assignment fails
Exception	Base class for all exceptions
EOFError	Raised when the input() method hits an "end of file" condition (EOF)
FloatingPointError	Raised when a floating point calculation fails
GeneratorExit	Raised when a generator is closed (with the close() method)
ImportError	Raised when an imported module does not exist
IndentationError	Raised when indendation is not correct
IndexError	Raised when an index of a sequence does not exist
KeyError	Raised when a key does not exist in a dictionary
KeyboardInterrupt	Raised when the user presses Ctrl+c, Ctrl+z or Delete
LookupError	Raised when errors raised cant be found
MemoryError	Raised when a program runs out of memory
NameError	Raised when a variable does not exist
NotImplementedError	Raised when an abstract method requires an inherited class to override the method
OSError	Raised when a system related operation causes an error
OverflowError	Raised when the result of a numeric calculation is too large
ReferenceError	Raised when a weak reference object does not exist
RuntimeError	Raised when an error occurs that do not belong to any specific expections
StopIteration	Raised when the next() method of an iterator has no further values
SyntaxError	Raised when a syntax error occurs
TabError	Raised when indentation consists of tabs or spaces
SystemError	Raised when a system error occurs
SystemExit	Raised when the sys.exit() function is called
TypeError	Raised when two different types are combined
UnboundLocalError	Raised when a local variable is referenced before assignment
UnicodeError	Raised when a unicode problem occurs
UnicodeEncodeError	Raised when a unicode encoding problem occurs
UnicodeDecodeError	Raised when a unicode decoding problem occurs
UnicodeTranslateError	Raised when a unicode translation problem occurs
ValueError	Raised when there is a wrong value in a specified data type
ZeroDivisionError	Raised when the second operator in a division is zero